<body id="login-page">
    <header></header>
    @{
        ViewBag.Title = "Login";
    }

    <!-- Контейнер для формы -->
    <div class="custom-container" id="custom-container">
        <div class="form-container sign-in-container">
            <form asp-action="Login" method="post">
                <h1>Авторизация</h1>
                <span></span>
                <input type="text" name="username" placeholder="Логин" />
                <input type="password" name="password" placeholder="Пароль" />
                <div style="color:#002F55;">
                    @ViewBag.ErrorMessage
                </div>
                <button type="submit">Войти</button>
            </form>
        </div>
        <div class="custom-text-container">
            <h2>Добро пожаловать!</h2>
            <p><b>ChainFlow</b> — это система отслеживания цепочки поставок, которая работает по принципу блокчейн. Наша платформа 
                обеспечивает прозрачность и надежность всех транзакций, позволяя вам сосредоточиться на развитии бизнеса, а не на решении проблем с логистикой. 
            </p>
        </div>
    </div>
</body>